.newSchedule {
  animation: zapEffect 1s ease-in-out;
}

@keyframes zapEffect {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 5px rgba(255, 255, 0, 0.5), 0 0 10px rgba(255, 255, 0, 0.3);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 255, 0, 0.8), 0 0 30px rgba(255, 255, 0, 0.5);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
